.spinner {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  width: 50px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide {
  visibility: hidden;
}
